<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="SPLUNK"
              class="ch.qos.logback.core.net.SocketAppender">
        <remoteHost>splunk-host</remoteHost>
        <port>8088</port>
        <reconnectionDelay>10000</reconnectionDelay>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"source":"spring-boot","env":"dev"}</customFields>
        </encoder>
    </appender>

    <appender name="ASYNC_SPLUNK"
              class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>5000</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="SPLUNK"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNC_SPLUNK"/>
    </root>

</configuration>
